alabaster
annotated-types
appdirs
astroid
Babel
backports.tarfile
black
boltons
Brotli
build
CacheControl
certifi
cffi
charset-normalizer
click
click-default-group
colorama
conda_lock
conda_package_streaming
coverage
crashtest
cryptography
dill
distlib
docutils
dulwich
ensureconda
exceptiongroup
fastjsonschema
filelock
gitdb
GitPython
h2
hpack
hyperframe
idna
importlib_metadata
importlib_resources
iniconfig
installer
isort
jaraco.classes
jaraco.context
jaraco.functools
jeepney
Jinja2
keyring
lazy-object-proxy
markdown-it-py
MarkupSafe
mccabe
mdit-py-plugins
more-itertools
msgpack
mypy
mypy-extensions
myst-parser
numpy
packaging
pathspec
pillow
matplotlib
pip-tools
pkginfo
platformdirs
pluggy
torch
torchvision
pycparser
pydantic
pydantic_core
Pygments
pylint
pyparsing
pyproject_hooks
PySocks
pytest
pytest-asyncio
pytest-cov
PyYAML
requests
requests-toolbelt
ruamel.yaml
ruamel.yaml.clib
SecretStorage
semver
shellingham
smmap
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-confluencebuilder
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-plantuml
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
svgwrite
tomli
tomlkit
trove-classifiers
typing-inspection
typing_extensions
urllib3
virtualenv
wrapt
zipp     
matplotlib
torch
torchvision
transformers